{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Regístro</title>
    <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
<body>
  <br>
  <center>
  <div class="card" style="width: 20rem;" id="form">
    <div class="card-block">
      <form action='{% url 'create_user' %}' method="POST">
        {% csrf_token %}
        <div class="form-group" id="formulario">
          <h1>Instagram</h1>
            <h3><small class="text-muted">Regístrate para ver fotos y vídeos de tus amigos.</small></h3>
            <div class="form-group">
              <input class="form-control" type="text" name="email" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Nombre Completo">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-warning">Regístrate</button>
                <!-- <input type="submit"><br><br> -->
                <!-- Tambíen se puede colocar <button>Regístrate</button> en vez de <input type="submit"> -->
            </div>
            ¿Tienes una cuenta?
            <a href="/login">Entrar</a>
        </div>
      </form>
    </div>
  </div>
    <div id="imagenes">
      <p id="download">Descarga la aplicación</p>
      <img src="{% static 'images/iphone.png' %}" id="img1"><br>
      <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8" target="_blank"><img src="{%static 'images/appstore.png' %}" id="img2" alt="appstore" ></a>
    </div>
  </body>
</html>
<!-- padding -->
