#imgprofile{
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
#cards{
  position: absolute;
  left: 500px;
}

#imgpost{
  width: 800px;
  height: auto;
}
#imgnav {
  width: 35px;
  height: auto;
}
