#form {
    position: absolute;
    top:  120px;
    right: 200px;
}

#img2 {
  position: absolute;
  top: 450px;
  right: 250px;
  height: 70px;
  width: auto;
}

#download{
  position: absolute;
  top: 420px;
  right: 275px;
}

#img1 {
  position: absolute;
  top: 20px;
  left: 50px;
  height: 600px;
  width: auto;
}
